## import Numpy

In [1]:
import numpy as np

## CREATING NUMPY ARRAYS FROM PYTHON LIST:

In [2]:
np.array([1, 2, 3, 4])

array([1, 2, 3, 4])

In [4]:
[3.14, 3, 5, 6]

[3.14, 3, 5, 6]

In [5]:
np.array([3.14, 3, 5, 6])

array([3.14, 3.  , 5.  , 6.  ])

In [6]:
np.array([2, 3, 5, 6], dtype = 'float32')

array([2., 3., 5., 6.], dtype=float32)

In [8]:
a1 = np.array([1, 2, 3, 4])
type(a1)

numpy.ndarray

In [12]:
a2 = np.array([[1,2,3],[4,5,6]])
type(a2)

numpy.ndarray

In [13]:
a2.shape

(2, 3)

In [14]:
a2.ndim

2

In [16]:
a2.dtype

dtype('int64')

In [17]:
a2.size

6

## CREATING NUMPY ARRAY FROM STRATCH

### zeros, one, full, arange, linspace

In [22]:
np.zeros([2,4], dtype = int)

array([[0, 0, 0, 0],
       [0, 0, 0, 0]])

In [23]:
np.ones((3,5), dtype = float)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [25]:
np.arange(0,20, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [26]:
np.full((3,5), 6.9)

array([[6.9, 6.9, 6.9, 6.9, 6.9],
       [6.9, 6.9, 6.9, 6.9, 6.9],
       [6.9, 6.9, 6.9, 6.9, 6.9]])

In [36]:
np.linspace(1,50, 99, dtype = float)

array([ 1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,  5.5,  6. ,
        6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. , 10.5, 11. , 11.5,
       12. , 12.5, 13. , 13.5, 14. , 14.5, 15. , 15.5, 16. , 16.5, 17. ,
       17.5, 18. , 18.5, 19. , 19.5, 20. , 20.5, 21. , 21.5, 22. , 22.5,
       23. , 23.5, 24. , 24.5, 25. , 25.5, 26. , 26.5, 27. , 27.5, 28. ,
       28.5, 29. , 29.5, 30. , 30.5, 31. , 31.5, 32. , 32.5, 33. , 33.5,
       34. , 34.5, 35. , 35.5, 36. , 36.5, 37. , 37.5, 38. , 38.5, 39. ,
       39.5, 40. , 40.5, 41. , 41.5, 42. , 42.5, 43. , 43.5, 44. , 44.5,
       45. , 45.5, 46. , 46.5, 47. , 47.5, 48. , 48.5, 49. , 49.5, 50. ])

## `Random`

In [37]:
np.random.random((4,4))

array([[0.17508336, 0.62655053, 0.11818773, 0.5480251 ],
       [0.18308645, 0.26098258, 0.35323851, 0.65159039],
       [0.75356689, 0.17042012, 0.08487257, 0.30135068],
       [0.18933882, 0.05927686, 0.53387596, 0.7478097 ]])

In [39]:
#Seed for reproducibility
np.random.seed(0)
np.random.random((4,4))

array([[0.5488135 , 0.71518937, 0.60276338, 0.54488318],
       [0.4236548 , 0.64589411, 0.43758721, 0.891773  ],
       [0.96366276, 0.38344152, 0.79172504, 0.52889492],
       [0.56804456, 0.92559664, 0.07103606, 0.0871293 ]])

In [40]:
np.random.normal(0,1, (3,3))

array([[ 0.44386323,  0.33367433,  1.49407907],
       [-0.20515826,  0.3130677 , -0.85409574],
       [-2.55298982,  0.6536186 ,  0.8644362 ]])

In [41]:
np.random.randint(0,10, (4,5))

array([[7, 2, 0, 0, 4],
       [5, 5, 6, 8, 4],
       [1, 4, 9, 8, 1],
       [1, 7, 9, 9, 3]])

In [42]:
np.random.rand(4,4)

array([[0.65314004, 0.17090959, 0.35815217, 0.75068614],
       [0.60783067, 0.32504723, 0.03842543, 0.63427406],
       [0.95894927, 0.65279032, 0.63505887, 0.99529957],
       [0.58185033, 0.41436859, 0.4746975 , 0.6235101 ]])

## Array indexing and slicing

### One-dimension subarray

In [43]:
x1 = np.random.randint(20, size = 6)

In [44]:
x1

array([15, 13, 16, 17,  5,  9])

In [47]:
x1[4], x1[0], x1[-1]

(5, 15, 9)

### Multi-dimensional array

In [50]:
x2 = np.random.randint(10, size = (3,4))

In [51]:
x2

array([[3, 0, 5, 0],
       [1, 2, 4, 2],
       [0, 3, 2, 0]])

In [52]:
x2[1,2]

4

In [53]:
x2[1,2] = 6

In [54]:
x2

array([[3, 0, 5, 0],
       [1, 2, 6, 2],
       [0, 3, 2, 0]])

### Slicing
#### x[start:stop:step]

In [55]:
x1

array([15, 13, 16, 17,  5,  9])

In [56]:
x1[0:3]

array([15, 13, 16])

In [57]:
x1[2:4]

array([16, 17])

In [59]:
#every other element, every 2 steps
x1[::2]

array([15, 16,  5])

In [61]:
x2

array([[3, 0, 5, 0],
       [1, 2, 6, 2],
       [0, 3, 2, 0]])

In [60]:
#two row, 3 columns
x2[:2,:3]

array([[3, 0, 5],
       [1, 2, 6]])

In [62]:
x2[:, :2]

array([[3, 0],
       [1, 2],
       [0, 3]])

## Reshaping and transpose

In [63]:
grid = np.arange(1,10)
grid.shape

(9,)

In [64]:
grid.reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [65]:
x = np.array([1,2,3])

In [66]:
x.shape

(3,)

In [69]:
x.reshape(1,3).shape

(1, 3)

In [70]:
x = np.array([[1.,2.], [3.,4.]])

In [71]:
x

array([[1., 2.],
       [3., 4.]])

In [72]:
x.T

array([[1., 3.],
       [2., 4.]])

## Array concatination and Spliting

In [77]:
x = np.array([1,2,3])

In [78]:
y = np.array([3,2,1])

In [79]:
np.concatenate((x,y))

array([1, 2, 3, 3, 2, 1])

In [81]:
grid = np.array([[1,2,3],[4,5,6]])
grid

array([[1, 2, 3],
       [4, 5, 6]])

In [82]:
np.concatenate((grid,grid))  #axis = 0 by default

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [83]:
np.concatenate((grid,grid), axis = 1) #axis = 1

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

In [84]:
#vstackl
x = np.array([1,2,3])
grid = np.array([[9,8,7], [6,5,4]])

In [85]:
np.vstack((x, grid))

array([[1, 2, 3],
       [9, 8, 7],
       [6, 5, 4]])

In [88]:
y = np.array([[99], [99]])
np.hstack((y,grid))

array([[99,  9,  8,  7],
       [99,  6,  5,  4]])

## Spliting array

In [89]:
x = np.array([1,2,3,66,88,99,3,5,7])

In [97]:
np.split(x,[3,6])

[array([1, 2, 3]), array([66, 88, 99]), array([3, 5, 7])]

In [98]:
x1, x2, x3  =  np.split(x,[3,6])

In [100]:
x1

array([1, 2, 3])

In [101]:
x2

array([66, 88, 99])

In [102]:
x3

array([3, 5, 7])

## Broadcasting and vectorized operations

In [103]:
a = np.arange(3)

In [104]:
a

array([0, 1, 2])

In [106]:
a + 5 #broadcasting , all the element + 3

array([5, 6, 7])

In [108]:
b = np.ones((3,3))

In [109]:
b

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [110]:
a.shape, b.shape

((3,), (3, 3))

In [111]:
a + b

array([[1., 2., 3.],
       [1., 2., 3.],
       [1., 2., 3.]])

In [112]:
a * b

array([[0., 1., 2.],
       [0., 1., 2.],
       [0., 1., 2.]])

In [113]:
c = np.arange(3).reshape(3,1)

In [114]:
c

array([[0],
       [1],
       [2]])

In [115]:
a + c

array([[0, 1, 2],
       [1, 2, 3],
       [2, 3, 4]])

## Data Manipultion & comparing array

### Aggregation
#### Aggregation = performing the same operation on a number of thing

In [119]:
list_number = [1,2,3]

In [120]:
ll = np.array(list_number)

In [121]:
ll

array([1, 2, 3])

In [122]:
sum(ll) #sum python

6

In [123]:
np.sum(ll) #sum numpy

6

In [126]:
#Creating massive np array
massive_array = np.random.random(10000)
massive_array[:5]

array([0.60484552, 0.73926358, 0.03918779, 0.28280696, 0.12019656])

In [128]:
massive_array.shape

(10000,)

In [130]:
%timeit sum(massive_array) #python sum
%timeit np.sum(massive_array) # numpy sum

1.25 ms ± 22.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
7.42 µs ± 14.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [135]:
np.mean(massive_array)

0.49644077223750666

In [133]:
np.max(massive_array)

0.9999779517807228

In [134]:
np.min(massive_array)

7.2449638492178e-05

## Standard Deviation and Variance

### Standard Deviation
#### Standard Deviation is a measure

In [137]:
dog_height = [600, 470, 170, 430, 300]
dog_height = np.array(dog_height)
np.std(dog_height)  #do lech chuan standard deviation

147.32277488562318

In [138]:
np.var(dog_height) #phuongsai variance

21704.0

## Sorting array
#### Np.sort use an quicksort algorithm

In [139]:
x = np.array([2,1,4,3,5])
np.sort(x)

array([1, 2, 3, 4, 5])

In [140]:
## argsort 
np.argsort(x)

array([1, 0, 3, 2, 4])

### Sorting along rows or columns

In [141]:
np.random.seed(42)

MatA = np.random.randint(0,10, size=(4,6))

In [142]:
MatA

array([[6, 3, 7, 4, 6, 9],
       [2, 6, 7, 4, 3, 7],
       [7, 2, 5, 4, 1, 7],
       [5, 1, 4, 0, 9, 5]])

In [145]:
np.sort(MatA) # axis = 1 , sort row (axis = 1 by default)

array([[3, 4, 6, 6, 7, 9],
       [2, 3, 4, 6, 7, 7],
       [1, 2, 4, 5, 7, 7],
       [0, 1, 4, 5, 5, 9]])

In [147]:
np.sort(MatA, axis = 0) # axis = 0 , sort column

array([[2, 1, 4, 0, 1, 5],
       [5, 2, 5, 4, 3, 7],
       [6, 3, 7, 4, 6, 7],
       [7, 6, 7, 4, 9, 9]])

## Linear Algebra

In [149]:
A = np.array([[1,2,3],
              [4,5,6],
              [7,8,9]])

In [150]:
B = np.array([[6,5],
              [4,3],
              [2,1]])

In [151]:
A.dot(B)

array([[20, 14],
       [56, 41],
       [92, 68]])

In [152]:
A @ B

array([[20, 14],
       [56, 41],
       [92, 68]])

In [159]:
B.T @ A

array([[36, 48, 60],
       [24, 33, 42]])

## Dot Product Example

In [160]:
# Number of jars sold
np.random.seed(0)

sales_amounts = np.random.randint(20, size = (5,3))

In [161]:
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [162]:
#Create weekly sales data fram
import pandas as pd

In [163]:
weekly_sales = pd.DataFrame(sales_amounts, index = ["Mon","Tue","Wed","Thurs","Fri"],
                                           columns = ["Almond butter","Peanut Butter", "Cashew Butter"])

In [164]:
weekly_sales

       Almond butter  Peanut Butter  Cashew Butter
Mon               12             15              0
Tue                3              3              7
Wed                9             19             18
Thurs              4              6             12
Fri                1              6              7

In [165]:
# Create a price array
prices = np.array([10, 8, 12])

In [167]:
butter_price = pd.DataFrame(prices.reshape(1,3), index = ["Price"], 
                            columns = ["Almond butter","Peanut Butter", "Cashew Butter"])

In [168]:
butter_price

       Almond butter  Peanut Butter  Cashew Butter
Price             10              8             12

In [169]:
weekly_sales.shape, butter_price.shape

((5, 3), (1, 3))

In [171]:
total_prices = weekly_sales.dot(butter_price.T)

In [172]:
total_prices

       Price
Mon      240
Tue      138
Wed      458
Thurs    232
Fri      142

In [173]:
weekly_sales["Total_Prices"] = total_prices

In [174]:
weekly_sales

       Almond butter  Peanut Butter  Cashew Butter  Total_Prices
Mon               12             15              0           240
Tue                3              3              7           138
Wed                9             19             18           458
Thurs              4              6             12           232
Fri                1              6              7           142